# hf setting
#HF_HOME=./HF

OPENAI_API_KEY=YOUR-API-KEY

#TWINAGE_DB_DIR=./data/DATABASE
#TWINAGE_DATA_DIR=./data/engrams/samples
#TWINAGE_EMB_URL=http://localhost:8081/v1
#TWINAGE_EMB_MODEL=gpustack/bge-m3-GGUF
#TWINAGE_LLM_URL=http://localhost:8080/v1
#TWINAGE_LLM_MODEL=unsloth/gemma-4-12B-it-qat
#TWINAGE_L1_HOST=127.0.0.1
#TWINAGE_L1_PORT=8082
#TWINAGE_L2_HOST=127.0.0.1
#TWINAGE_L2_PORT=8083
