# hf setting
#HF_HOME=./HF

OPENAI_API_KEY=YOUR-API-KEY

#TWINAGE_DB_DIR=./data/DATABASE
#TWINAGE_DATA_DIR=./data/engrams
#TWINAGE_EMB_URL=http://localhost:8081/v1
#TWINAGE_EMB_MODEL=gpustack/bge-m3-GGUF
#TWINAGE_LLM_URL=http://localhost:8080/v1
#TWINAGE_LLM_MODEL=unsloth/gemma-4-12B-it-qat
